@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Figtree:ital,wght@0,300..900;1,300..900&family=Geist+Mono:wght@100..900&family=Itim&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&family=Lilita+One&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spicy+Rice&family=Spline+Sans:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Spline Sans", serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container form{
    width: 90%;
    max-width: 450px;
    padding: 50px 20px 30px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.322);
    position: relative;
}
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.377);
}
.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 9px;
    position: relative;
}
.input-group label{
    flex-basis: 27%;
}
.input-group input, .input-group textarea{
    flex-basis: 69%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 9px 0;
    color: #333;
    border-bottom: 3px solid #999;
    font-size: 18px;
}
::placeholder{
    font-size: 15px;
}
form button{
    background: greenyellow;
    color: black;
    border-radius: 9px;
    border: 1px solid rgba(255, 255, 255, 0.274);
    padding: 9px 36px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 9px;
}
form button:hover{
    background: black;
    color: white;
}
.input-group span{
    position: absolute;
    bottom: 12px;
    right: 18px;
    font-size: 12px;
    color: red;
}
#submit-error{
    margin-top: 9px;
    font-size: 15px;
    color: red;
}
.input-group span i{
    color: seagreen;
    font-size: 15px;
}